<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i class="fa fa-wrench"></i></a></li>
    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- General tab content -->
    <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
      <h4 class="control-sidebar-heading">System Options</h4>

    </div>

    <!-- Home tab content -->
    <div class="tab-pane" id="control-sidebar-home-tab">
      <h3 class="control-sidebar-heading">Recent Activity</h3>

    </div>

    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
      <h3 class="control-sidebar-heading">General Settings</h3>

      <!-- <mc-input
            [caption]="'Register API'"
            [name]="'urlRegisterApi'"
            [required]="true"
            [errorMessage]="'URL to register data.'">
            <input type="text" class="form-control" placeholder="URL from the register API..." formControlName="urlRegisterApi" autocomplete="off">
      </mc-input> -->
    </div>
  </div>
</aside>

<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
