<div class="row">
    <form role="form" [formGroup]="formGroupRules" novalidate>
        <input id="id" name="id" type="hidden" value="xm234jq">
        <div class="col-md-2">
            <mc-input
                [caption]="'Contact type'"
                [name]="contactType"
                [required]="true">
                <select class="form-control" formControlName="contactType">
                    <option [value]=null selected>(Select)</option>
                    <option [value]=3>Blog</option>
                    <option [value]=1>Celphone</option>
                    <option [value]=2>E-mail</option>
                    <option [value]=0>Phone</option>
                    <option [value]=4>Website</option>
                </select>
            </mc-input>
        </div>
        <div class="col-md-4">
            <mc-input 
                [caption]="'Contact value'"
                [name]="value"
                [required]="true"
                [errorMessage]="'Value is required.'">
                <label *ngIf="formGroupRules.hasError('noMatch')" >&nbsp;-&nbsp;</label><label class="fa has-error" style="color:red;" *ngIf="formGroupRules.hasError('noMatch')" >[Invalid format]</label>
                <input type="text" class="form-control" placeholder="Input the value..." formControlName="value" autocomplete="off">  
            </mc-input>
        </div>
        <div class="col-md-6">
                <mc-button 
                    [faClass]="'fa-plus'" 
                    [caption]="'Add'" (click)="addContactItem(formGroupRules.value)"
                    [enable]="formGroupRules.valid">
                </mc-button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let item of personService.getList(personService.person.personalContact, Status.active)">
        <mc-contact-item
            [item]="item"
            [personService]="personService">

        </mc-contact-item>    
    </div>
</div>