
<section styles="border=1px">
  <mc-standard-form [columns]="columnDef">
      <form role="form" [formGroup]="formGroupRules">
        <mc-box
          [boxTitle]="'Personal Info'"
          [useMinimize]="true">
          <mc-person-info [personService]="personService"></mc-person-info>
        </mc-box>
        <!-- <mc-box
          [boxTitle]="'Personal Contacts'"
          [useMinimize]="true">
          <mc-contact-list [personService]="personService"></mc-contact-list>
        </mc-box>
        <mc-box
          [boxTitle]="'Addresses'"
          [useMinimize]="true">
          <mc-address-list [personService]="personService"></mc-address-list>
        </mc-box> -->
        <div class="container">
            <div style="float: right; padding: 70px;">
                <button class="btn btn-default" style="width: 120px;">Cancel</button>&nbsp;
                <button class="btn btn-primary" style="width: 120px;" (click)="savePerson(formGroupRules.value)">Save</button>
            </div>
        </div>
      </form>

  </mc-standard-form>

</section>
