
<section styles="border=1px">
  <mc-standard-form [columns]="columnDef">
      <form role="form" [formGroup]="formGroupRules">  
          <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Personal info</h3>
          
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <div class="box-body">
                  <div class="row">
                      <div class="col-md-4">
                          <mc-input 
                            [caption]="'Full name'"
                            [name]="name"
                            [required]="true"
                            [errorMessage]="'Name is required with min 10 caracters.'">
                            <input type="text" class="form-control" placeholder="Input your name..." formControlName="name" autocomplete="off">  
                          </mc-input>
                      </div>
                      <div class="col-md-8">
                          <div class="col-md-4">
                              <mc-input-date
                                [caption]="'Birth'"
                                [name]="birthDate"
                                [required]="true">
                                <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" formControlName="birthDate" data-mask="">
                              </mc-input-date>  
                          </div>
                          <div class="col-md-3">
                              <mc-input
                              [caption]="'Gender'"
                              [name]="gender"
                              [required]="true">
                              <select class="form-control" formControlName="gender">
                                  <option value="" selected>(Select)</option>
                                  <option value="1">Female</option>
                                  <option value="0">Male</option>
                              </select>
                            </mc-input>
                          </div>
                          <div class="col-md-3">
                              <mc-input 
                                [caption]="'Nick name'"
                                [name]="nickName"
                                [required]="false"
                                [errorMessage]="'Your nick name.'">
                                <input type="text" class="form-control" placeholder="Your nick name..." formControlName="nickName" autocomplete="off">  
                              </mc-input>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>  
  </mc-standard-form>    
  
</section>